@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dashboard/Home page */

.main {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  background: #ecedf0;
}

.list {
  width: 75vw;
  min-width: 75vw;
  background: #ecedf0;
  scroll-snap-align: start;
}

.add {
  height: 100vh;
  width: calc(75vw - 25px);
  min-width: 75vw;
  background: #222;
  /* box-shadow: -2px 0px 40px 0px #222; */
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transition {
  background: #33e6e3;
  position: relative;
  color: #222;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 100px;
  margin-right: -25px;
  top: calc(50% - 25px);
}

.transition:hover {
  filter: brightness(0.9);
  transition: 0.2s;
}

.add__text {
  color: white;
  font-size: 3rem;
}

/* Hero Page */

.hero{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../public/hero.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title{
  color: white;
  font-size: 5rem;
  width: auto;
  font-weight: 400;
  /* margin-bottom: 5px; */
  text-align: center;
}
.header__subtitle{
  margin-top: 0;
  margin-bottom: 75px;
  font-size: 2rem;
  font-weight: 400;
  width: auto;
  text-align: center;
  color: #d3d1d1;
}
.header__links {
  display: flex;
}

/* .header__link:first-of-type {
  margin-right: 20px;
} */
.header__link {
  width: auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: 0.15s;
}

.header__link:hover {
  background-color: white;
  color: black;
}

.about__switch__link {
  margin-left: 30px;
  width: auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px 5px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: 0.15s;
}

.about__switch__link:hover {
  background-color: white;
  color: black;
}


